<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos - Casa do Código</title>
    <%- include("templates/styles") %>
</head>
<body>
    <%- include("templates/header") %>
    <div class="container-fluid">
        <h3 class="float-left">
            Lista de produtos
        </h3>
        <div class="btn btn-primary float-right" data-toggle="modal" data-target="#addModal">
            Adicionar
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <% if(products != undefined){ %>
                    <% products.map((product, index) => {%>
                        <tr>
                            <th><%= index+1 %></th>
                            <td><%= product.titulo %></td>
                            <td><%= product.descricao %></td>
                            <td><%= product.preco %></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="addModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicionar produto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" id="title" placeholder="Título">
                            </div>
                            <div class="form-group">                                
                                <input class="form-control" type="text" id="desc" placeholder="Descrição">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" id="price" placeholder="Preço">
                            </div>
                        </form>
                        <p class="alert alert-danger" id="modal-error" style="display:none">
                            Por favor, preencha todos os campos.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="saveNewProduct">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("templates/scripts") %>
    <script>
        $(function(){
            $('#saveNewProduct').click(function(){
                $("#modal-error").hide()
                const title = $("#title").val().trim()
                const desc = $("#desc").val().trim()
                const price = $("#price").val().trim()
                const data = {
                    titulo: title,
                    descricao: desc,
                    preco:price
                }
                const valid = title != "" && desc != "" && price != ""
                console.log(data)
                if(valid){
                    fetch("/product", {
                        method:"post",
                        data:data
                    }).then(response => response.json())
                    .then((response) => {
                        console.log(response)
                    })
                }
                else{
                    $("#modal-error").show()
                }

            })
        })
    </script>
</body>
</html>